.container{
    display:grid;
    grid-template-rows: repeat(6,40px);
    grid-template-columns: repeat(4,50px);
    grid-gap:0.10px white;
}
.item{
    border : 1px solid rgb(255, 255, 255);
    display: grid;           
    align-items: center;      
    justify-items: center;
    background-color:rgb(159, 228, 240);
}
.item0{
    display: grid;
    background-color: black;
    grid-column: span 4;
    justify-items: end;
    align-items: flex-end;
    padding-bottom: 6px;
    padding-right: 2px;
}
.itemac{
    display : grid;
    grid-column: span 2;
    border : 1px solid rgb(255, 255, 255);           
    align-items: center;      
    justify-items: center;
    background-color:rgb(159, 228, 240);
}
.itemequal {
    display : grid;
    grid-column: span 2;
    border : 1px solid rgb(255, 255, 255);          
    align-items: center;      
    justify-items: center;
    background-color:rgb(159, 228, 240);
}
body{
    background: linear-gradient(to right, blue, green);
}