body{
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(117, 117, 199);
    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer";
    grid-template-columns: 300px 800px;
    justify-content: center;
    
}
.header{
    grid-area: header;
    display: flex;
    align-items: center;
    background-color: yellow;
    justify-content: space-between;
}
.text{
    display:flex;
    margin:10px;
    padding: 10px;
    background-color: orange;
}
.text >p{
    display:grid;
    grid-gap: 5px;
}
.sidebar{
    display:flex;
    flex-direction: column;
    align-self: flex-start;
    grid-area: sidebar;
    background-color: brown;
}
.sidebar >h3{
    margin: 10px;
}
.section{
    grid-area: content;
    background-color: orange;
}
.article1, .article2{
    background-color: brown;
    margin:10px;
    padding: 10px;
}
.article1 >h2, .article2 >h2{
    padding:10px;
}
.footer{
    grid-area: footer;
    background-color: red;
    display:flex;
    align-items: center;
    justify-content: center;
}